<site-layout>
    <@title>Bootstrap</@title>
    <@content>
    <div class="container">
        <h2>Badges</h2>
     <a href="#">News   <span class="badge">5</span></a>
     <button type="button" class="btn btn-primary">Comments<span class="badge">3</span></button>
     <button type="button" class="btn btn-danger">Updates<span class="badge">5</span></button>
    </div>
  </@content>
</site-layout>