<site-layout>
    <@title>Badges</@title>
    <@content>
    <site-nav></site-nav>
    <div class="container">
        <h2>Badges</h2>
     <a href="#">News   <span class="badge badge-light">5</span></a>
     <button type="button" class="btn btn-primary ">Comments<span class="badge badge-light">3</span></button>
     <button type="button" class="btn btn-danger">Updates<span class="badge badge-light">5</span></button>
    </div>
  </@content>
</site-layout>