style{

    well{
        border:1px solid gray;
    }
}

<site-layout>
    <@title>Bootstrap</@title>
    <@content>
    <div class="container">
        <h2>Well</h2>
        <div class="well">Basic Well</div>
        <div class="well well-sm">small well</div>
        <div class="well well-lg">Large well</div>
       
      </div>
    </@content>
</site-layout>