<site-layout>
        <@title>Bootstrap</@title>
        <@content>
      <div class="container">
            <div class="container">
                    <h2>Button Styles</h2>
                    <button type="button" class="btn">Basic</button>
                   <button type="button" class="btn btn-info">info</button> 
                  </div>
                    
      </@content>
    </site-layout>
    
